# HTTP SERVER
HOST=localhost
PORT=3000

# POSTGRES
PGHOST=your-postgres-host
PGUSER=your-postgres-user
PGDATABASE=your-database-name
PGPASSWORD=your-postgres-password
PGPORT=5432

# TOKENIZE
ACCESS_TOKEN_KEY=your-access-token-secret
REFRESH_TOKEN_KEY=your-refresh-token-secret
ACCESS_TOKEN_AGE=3000
